/* unvisited link */

a:link:not(.solstorm, .auction-template-navbar-mobile-drawer-content) {
  color: #E6E6E6!important;
  text-decoration: none!important;
}

/* visited link */

a:visited:not(.solstorm, .auction-template-navbar-mobile-drawer-content) {
  color: #E6E6E6!important;
  text-decoration: none!important;
}

/* mouse over link */

a:hover:not(.solstorm) {
  color: #F2B255!important;
  text-decoration: none!important;
}

/* selected link */

a:active:not(.solstorm, .auction-template-navbar-mobile-drawer-content) {
  color: #F2B255!important;
  text-decoration: none!important;
}