/* unvisited link */
a:link:not(.solstorm)  {
    color: #E7EFF6!important;
  }
  
  /* visited link */
  a:visited:not(.solstorm)  {
    color: #E7EFF6!important;
  }
  
  /* mouse over link */
  a:hover:not(.solstorm)  {
    color: #F2B255!important;
  }
  
  /* selected link */
  a:active:not(.solstorm)  {
    color: #F2B255!important;
  }